.base-div {
  margin-top: 10px;
  color: rgb(43, 37, 37);
  width: 100%;
  min-height: 100vh;
}

.buttons {
  width: 100%;
  margin-top: 10px;
  background-color: black;
}

.buttons:hover {
  width: 100%;
  margin-top: 10px;
  background-color: rgb(37, 37, 37);
}
