body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-button {
  border: 1px solid black;
  background-color: aliceblue;
  padding: 10px 25px;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.button-primary-color {
  background-color: #8235ff;
}

.button-secondary-color {
  background-color: #c4c4c4;
  color: black;
}

.custom-button:hover {
  transform: scale(1.4);
}

.spinner-div {
  display: flex;
  justify-content: center;
}
